/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;
$elections-blue: #1e73be;
// Background colors:

$bkgoundContent: #FFFFFF; //
$menuBarbkg: #D14719; //

/* Typography ------------------------------------------ */
